h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: "Inter", sans-serif, serif;
  font-weight: 400;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  list-style-type: none;
}

.header__menu-item {
  color: #f5f5f5;
}

.header__menu-link {
  font-size: 16px;
}

.header__menu-item_active:hover {
  color: #f5f5f5;
}

.header__menu-item_active:visited {
  color: #f5f5f5;
}

.cover {
  padding: 7px 24px 33px 20px;
  background-image: url("../images/cover.svg");
  background-size: 95% auto;
  min-height: 220px;
  background-position: right;
  background-repeat: no-repeat;
}

.cover__title {
  font-family: "EB Garamond", sans-serif, Arial, Helvetica;
  font-size: 72px;
  color: #fff;
  line-height: 100%;
  font-weight: 400;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 30px 20px 38px 20px;
}

.intro__heading {
  display: flex;
  color: #ccc;
}

.intro__title {
  font-family: "Inter", sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.intro__date {
  font-size: 16px;
  color: #ccc;
  line-height: 120%;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
  line-height: 135%;
}

.reasons {
  padding: 40px 20px;
}

.content-section__subtitle {
  font-family: "EB Garamond", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: 0.4px;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 135%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  line-height: 135%;
  padding-left: 14px;
}

.content-section__list-accent {
  font-weight: 700;
  letter-spacing: 0.3px;
}

.how-to {
  padding: 40px 20px 60px 20px;
}
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  list-style: none;
  padding-top: 18px;
}

.card {
  border-radius: 30px;
  padding: 20px;
  line-height: 135%;
}

.card_theme_dark {
  background-color: #343434;
  color: #F5F5F5;
}

.card_theme_bright {
  background: #FEE42A;
  color: #131313;
}

.card__author-photo {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

.card__author-name {
 font-weight: 700;
 padding-bottom: 7px;
}

.card__title {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  padding-bottom: 7px;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #fee42a;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__links a {
  color: #f5f5f5;
  font-size: 14px;
  text-decoration: none;
  line-height: 125%;
}
